{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/"><img class="masthead__avatar" src="{{ base_path }}/images/profile.png" alt="" width="26" height="26">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item masthead__lang">
            {% if page.lang == 'zh' %}
              <a href="{{ base_path }}/">English</a>
            {% else %}
              <a href="{{ base_path }}/cn/">中文</a>
            {% endif %}
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
      <button class="theme-toggle" type="button" data-theme-toggle aria-label="切换亮色/暗色" title="切换亮色/暗色">
        <i class="fas fa-moon theme-toggle__moon" aria-hidden="true"></i>
        <i class="fas fa-sun theme-toggle__sun" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>